<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>{{ title }} - Omkar Kukiyan</title>
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.png') }}">

        <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
            integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
            crossorigin="anonymous">
        <link
            rel="stylesheet"
            href="https://use.fontawesome.com/releases/v5.2.0/css/all.css"
            integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ"
            crossorigin="anonymous">
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
        <link
            rel="stylesheet"
            href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <div class="container">
            <nav class="nav justify-content-center align-items-center mynav">
                <div class="d-flex justify-content-around flex-wrap navgroup">
                    <a class="nav-link active navlink" href="{{ url_for('main.index') }}">Home</a>
                    <a class="nav-link navlink" href="{{ url_for('main._project') }}">Project</a>
                    <a class="nav-link navlink" href="{{ url_for('main.about') }}">About</a>
                </div>
            </nav>


            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-secondary alert-dismissible fade show" role="alert">
                            {{ message }}
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}

            {% block bodyblock %}
            {% endblock %}

            <footer class="d-flex justify-content-center mynav myfoot">
                <span class="copyright">Copyright © 2019 | Omkar Kukiyan | all
                    {% if right %}
                        {{ right }}
                    {% else %}
                        rights
                    {% endif %} reserved</span>
            </footer>
        </div>
        <script
            src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
        <script
            src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
        <script
            src="{{ url_for('static', filename='script.js') }}"></script>
    </body>
</html>